{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block main-content %}

  <div class="w3-col s12 w3-container w3-center">

    <div class="w3-row w3-container w3-center">
        <img src="{% static 'images/Logo-placeholder.png' %}" alt="logo" class="w3-image">
    </div>

    <div>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <form method="post" class="w3-container">
        {% csrf_token %}

        {% include "snippets/form_generic.html" with form=form %} <br>

        <button class="w3-button w3-round-xlarge w3-block w3-margin-top w3-black" type="submit">Login</button>
    </form>

    <div class="w3-container">
        <p class="lao-noto">For authentication purpose, please enter your username or email or phone number</p>
    </div>
  </div>


{% endblock %}
