{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block main-content %}
<br>

<div class="w3-panel w3-black w3-center w3-card">
  <h4 class="lao-noto">Pick A Table for Meeting</h4>
</div>
<br>

<div class="w3-row w3-container w3-center">
    {% for i in locations %}

        <a href='{% url 'core:request_meeting_save' destination_id time_slot.id i.id%}' class="w3-button w3-theme w3-card w3-margin-bottom" style="width:30%"><h3 class="w3-padding">{{ i.location }}</h3></a>

    {% endfor %}
</div>
<br>
<div class="w3-row w3-container w3-center w3-card">

    <a href='{% url 'core:user_list' %}' class="w3-button w3-block w3-black w3-card"> Back </a>

</div>
{% endblock %}
