{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block main-content %}
<br>
<div class="w3-margin-bottom w3-center">

    <div class="w3-row w3-margin-bottom">
        <form action="{% url 'core:user_search' %}" method="get" class="w3-container">
            {% csrf_token %}
            {% include "snippets/form_generic.html" with form=form %}
            <button class="w3-button w3-round-xlarge w3-margin-top w3-black" type="submit">Search</button>
        </form>
    </div>

    <div class="w3-bar w3-border w3-white ">

        <a  href="{% if users.has_previous %} ?page={{ users.previous_page_number }}&search={{ request.GET.search }} {% endif %}"
        class="w3-bar-item w3-button w3-hover-theme">&laquo;</a>

        {% for i in page_length %}
           <a href="?page={{ i }}&search={{ request.GET.search }}" class="w3-bar-item w3-button">{{ i }}</a>
        {% endfor %}

        <a href="{% if users.has_next %} ?page={{ users.next_page_number }}&search={{ request.GET.search }} {% endif %}"
        class="w3-bar-item w3-button w3-hover-theme">&raquo;</a>

    </div>
</div>

<table id='table' class="w3-table w3-bordered w3-hoverable w3-card" style="width:100%">
    <tr class="w3-theme-l3">
        <th class="w3-hover-theme" style="cursor: pointer;width: 30%" onclick="w3.sortHTML('#table','.tb-item', 'td:nth-child(1)')" >
            <h6><small>Name <i class="fa fa-sort w3-text-white"></i></small></h6>
        </th>
        <th class="w3-hover-theme" style="cursor: pointer;width: 20%" onclick="w3.sortHTML('#table','.tb-item', 'td:nth-child(1)')" >
            <h6><small>Position <i class="fa fa-sort w3-text-white"></i></small></h6>
        </th>
        <th class="w3-hover-theme" style="cursor: pointer;width: 20%" onclick="w3.sortHTML('#table','.tb-item', 'td:nth-child(1)')" >
            <h6><small>Nation <i class="fa fa-sort w3-text-white"></i></small></h6>
        </th>
        <th class="w3-hover-theme" style="cursor: pointer;width: 30%" onclick="w3.sortHTML('#table','.tb-item', 'td:nth-child(1)')" >
            <h6><small>Organization <i class="fa fa-sort w3-text-white"></i></small></h6>
        </th>
    </tr>

    {% for i in users %}
        <tr class='tb-item' onclick="window.location.href='{% url 'core:user_detail' i.id%}'">
            <td class="w3-text-darkgrey w3-button">{{ i.first_name }} {{ i.last_name }}</td>
            <td class="w3-text-darkgrey w3-button"><small>{{ i.profile.position }}</small></td>
            <td class="w3-text-darkgrey w3-button"><small>{{ i.profile.nation }}</small></td>
            <td class="w3-text-darkgrey w3-button"><small>{{ i.profile.org }}</small></td>
        </tr>
    {% endfor %}

</table>

<br>
<div class="w3-row w3-container w3-center">
    <a href='{% url 'core:user_dashboard' %}' class="w3-button w3-round-xlarge w3-margin-top w3-black"> Back </a>
</div>

<div class="w3-center w3-margin-top">
    <div class="w3-bar w3-border w3-white">

        <a  href="{% if users.has_previous %} ?page={{ users.previous_page_number }}&search={{ request.GET.search }} {% endif %}"
        class="w3-bar-item w3-button w3-hover-theme">&laquo;</a>

        {% for i in page_length %}
           <a href="?page={{ i }}&search={{ request.GET.search }}" class="w3-bar-item w3-button">{{ i }}</a>
        {% endfor %}

        <a href="{% if users.has_next %} ?page={{ users.next_page_number }}&search={{ request.GET.search }} {% endif %}"
        class="w3-bar-item w3-button w3-hover-theme">&raquo;</a>

    </div>
</div>

{% endblock %}
