{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %} {{ title }} {% endblock %}</title>

        <!-- CSS libs-->
        <link href="{% static "css/w3/w3.css" %}" rel="stylesheet">
        <link href="{% static "css/w3/w3-theme-blue.css" %}" rel="stylesheet">

        <!-- Font libs-->
        <link href="{% static "fonts/fontawesome-free-6/css/all.min.css" %}" rel="stylesheet">
        <link href="{% static "fonts/lao/lao-font.css" %}" rel="stylesheet">

        <!-- classic google material icons .material-icons .material-icons-outlined-->
        <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Round" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Sharp" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Two+Tone" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="{% static "css/custom.css" %}" rel="stylesheet">

        <!-- additional CSS -->
        {% block css %}
        <style>

        </style>
        {% endblock %}
    </head>
    <body class="lao-noto">
        <!-- Navigation -->
        {% block navigation %}
        {% endblock %}

        <!-- Hero -->
        {% block hero %}
            <div class="w3-row w3-container w3-center w3-blue">
                <img src="{% static 'images/logo-abis-02.png' %}" alt="logo" class="w3-image">
            </div>
        {% endblock %}

        <!-- Main content of the page -->
        <div class="w3-row w3-rest">
        {% block main-content %}
        {% endblock %}
        </div>

        <!-- page footer -->
        {% block footer %}
        {% endblock %}

        <!-- Main JS libs -->
        <script src="{% static "js/w3.js" %}"></script>
        <script src="{% static "js/jquery-3.7.1.min.js" %}"></script>

        <!-- additional JS libs -->
        {% block js %}
        {% endblock %}
    </body>
</html>
